.venv/
figures/
mapinmeters/
LightGlue/
datasets/Biel/
datasets/KITTI/
datasets/predicted/
*/__pycache__/*
__pycache__/
script/cache/
script/gps_utils.py
script/playground.py
*.ipynb_checkpoints
*.jpg
*.png
*.jpeg
*.svo2
