.venv/
figures/
datasets/BIEL/
datasets/KITTI/
datasets/predicted/depth_maps
datasets/predicted/figures
datasets/predicted/matches
datasets/predicted/prefiltered_matches
*/__pycache__/*
__pycache__/
script/cache/
*.ipynb_checkpoints
*.jpg
*.png
*.jpeg
*.svo2
